*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #053B50;
}
/* <----------------------------------------- NAVBAR -----------------------------------------> */


header {
    padding: 0px 30px;
    animation: navBar 2s ease 0s 1 normal forwards;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 50%;
    top: 2%;
    left: 25%;
    position: fixed;
    z-index: 99999;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s ease-in;
    /* From https://css.glass */
    background: rgba(228, 228, 228, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.34);
}



@keyframes navBar {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    /* margin-top: 10px; */
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s ease 0s;
    color: #eaeaea;
}

.logo:hover {
    color: #0f9a6b;
}

.btn-logreg {
    transition: all .5 ease;
}

.toggle-btn {
    color: #143d59;
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}

.logreg {
    font-size: 15px;
    margin: 0px 7px;
    color: #fdeeea;
    border: none;
    background-color: #143d59;
    padding: 9px 14px;
    border-radius: 10px;
    transition: all .5s ease 0s;
    cursor: pointer;
    font-weight: 600;
}

.logreg:hover {
    background-color: #eaf890;
    color: #143d59;
}


.navbar {
    padding: 20px;
}

.navbar a {
    position: relative;
    transition: all .5s ease;
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(219, 236, 254);
}

.navbar a:before {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 4px;
    width: 0;
    background: grey;
    border-radius: 50px;
    transition: width .3s ease;
}

.navbar a:hover:before {
    width: 80%;
}

.dropdown-menu {
    margin-top: 12px;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 86px;
    width: 100%;
    left: 0;
    height: 0;
    justify-content: center;
    gap: 20px;
    display: flex;
    backdrop-filter: blur(10px);
    flex-direction: column;
    text-align: center;
    transition: height .5s ease;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

.dropdown-menu.open {
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.34);
}

.dropdown-menu a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* <----------------------------------------- PRODUK -----------------------------------------> */

.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.content {
    width: 70%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title {
    text-align: center;
}

.kotak-rumah {
    background: white;
    border-radius: 9px;
    padding: 20px ;
    width: 25rem;
    height: max-content;
    border: 1px solid black;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.kotak-rumah img {
    width: 730px;
    height: 250px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.kotak-rumah a button {
    border-radius: 8px;
    background: #333333;
    transition: all .5s ease;
    color: white;
    margin-top: 15px;
    width: 50%;
    height: 40px;
    /* border: 1px solid black; */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: all .5s ;
    -moz-transition: all .5s ;
    -ms-transition: all .5s ;
    -o-transition: all .5s ;
}

.kotak-rumah a button:hover {
    background: #eaeaea;
    color: #333333;
}

.nama-rumah {
    margin: 10px 0px;
    font-size: large;
    font-weight: 600;
}

ul li {
    margin: 5px 0px;
}






/* <----------------------------------------- ANIMASI -----------------------------------------> */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}
.active.fade-left {
    animation: fade-left 1s ease-in;
}
.active.fade-right {
    animation: fade-right 1s ease-in;
}
.active.fade-right-delay-1 {
    animation: fade-right 1.2s ease-in;
}
.active.fade-right-delay-2 {
    animation: fade-right 1.4s ease-in;
}
.active.fade-right-delay-3 {
    animation: fade-right 1.6s ease-in;
}

@keyframes fade-top {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* <----------------------------------------- RESPONSIVE -----------------------------------------> */


@media screen and (max-width: 1071px) {

    .intro {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 250px 100px;
    }
}

@media screen and (max-width: 1468px) {
    .logo {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar {
        display: none;
    }

    .logreg {
        display: none;
    }

    .toggle-btn {
        color: #333333;
        display: block;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1469px) {
    .toggle-btn {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

}